{% extends"base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/atualizar_atuador.css') }}" />
{% block content%}
<div>
    <div>
        <div>
            <div>
                <div>
                    {%for atuador in atuador%}
                    <form action="http://localhost:8080/update_atuador" method="post">
                        <p>id:</p>
                        <p><input type="text" name="id" value="{{atuador.id}}" readonly /></p>
                        <p>Nome:</p>
                        <p><input type="text" name="name" value="{{atuador.name}}" required /></p>
                        <p>Marca:</p>
                        <p><input type="text" name="brand" value='{{atuador.brand}}' required /></p>
                        <p>Modelo:</p>
                        <p><input type="text" name="model" value='{{atuador.model}}' required /></p>
                        <p>Unidade de Medida:</p>
                        <p><input type="text" name="unit" value='{{atuador.unit}}' required /></p>
                        <p>Tópico MQTT:</p>
                        <p><input type="text" name="topic" value='{{atuador.topic}}' required /></p>
                        <div>
                            <input type="checkbox" id="is_active" name="is_active" checked />
                            <label for="is_active">Ativo?</label>
                        </div>
                        {%endfor%}
                        <p><input type="submit" value="Alterar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

