<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% block title %}<title>Minha Casa</title>{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('inicio') }}" class="{% if request.path == url_for('inicio') %}ativo{% endif %}">Início</a>
            </li>
            <li>
                <a href="{{ url_for('tempo_real') }}" class="{% if request.path == url_for('tempo_real') %}ativo{% endif %}">Tempo Real</a>
            </li>
            {% if 'usuario_id' in session %}
            <li>
                <a href="{{ url_for('publicar') }}" class="{% if request.path == url_for('publicar') %}ativo{% endif %}">Comando Remoto</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('historico_sensores') }}" class="{% if request.path == url_for('historico_sensores') %}ativo{% endif %}">Histórico Sensores</a>
            </li>
            <li>
                <a href="{{ url_for('historico_atuadores') }}" class="{% if request.path == url_for('historico_atuadores') %}ativo{% endif %}">Histórico Atuadores</a>
            </li>
            {% if 'usuario_id' in session %}
            <li class="dropdown">
                <a href="#" class="{% if request.path in [url_for('cadastrar_usuario'), url_for('cadastrar_sensor'), url_for('cadastrar_atuador'), url_for('listar_usuarios'), url_for('sensores'), url_for('atuadores')] %}ativo{% endif %}">Dispositivos</a>
                <br>
                <div>
                    <br>
                    <a href="{{ url_for('cadastrar_usuario') }}" class="{% if request.path == url_for('cadastrar_usuario') %}ativo{% endif %}">Cadastrar Usuários</a>
                    <a href="{{ url_for('cadastrar_sensor') }}" class="{% if request.path == url_for('cadastrar_sensor') %}ativo{% endif %}">Cadastrar Sensores</a>
                    <a href="{{ url_for('cadastrar_atuador') }}" class="{% if request.path == url_for('cadastrar_atuador') %}ativo{% endif %}">Cadastrar Atuadores</a>
                    <a href="{{ url_for('listar_usuarios') }}" class="{% if request.path == url_for('listar_usuarios') %}ativo{% endif %}">Listar Usuários</a>
                    <a href="{{ url_for('sensores') }}" class="{% if request.path == url_for('sensores') %}ativo{% endif %}">Listar Sensores</a>
                    <a href="{{ url_for('atuadores') }}" class="{% if request.path == url_for('atuadores') %}ativo{% endif %}">Listar Atuadores</a>
                </div>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('desconectar') }}" onclick="desconectar_usuario(event)">Sair</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="table-container">
        {% block table %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script>
    {% for category, message in messages %}
    alert({{ message|tojson }});
    {% endfor %}
    </script>
    {% endif %}
    {% endwith %}
</body>

</html>


