<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
</head>

<body class="login-page">
    <div class="login-container">
        <h3>Login</h3>
        <form id="loginForm" method="POST">
            <input type="email" id="email" name="email" placeholder="Digite seu email: " required>
            <input type="password" id="password" name="password" placeholder="Digite sua senha: " required>
            <button type="submit">Entrar</button>
        </form>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(this);
            fetch('{{ url_for("validar_usuario") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success === false) {
                    alert(data.message);
                } else if (data.message) {
                    alert(data.message);
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }
                } else if (data.redirect) {
                    window.location.href = data.redirect;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Erro ao processar a solicitação.');
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>


