<!--register_actuator.html -->
{% extends"base.html" %}
{% block content%} 
<div class="vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form action = "http://localhost:8080/add_actuator" method = "post">
                        <p>Nome do Atuador:</p>
                        <p><input type = "text" name = "name" placeholder="Nome do Atuador" required/></p>
                        <p>Marca:</p>
                        <p><input type = "text" name = "brand" placeholder="Marca do Atuador" required/></p>
                        <p>Modelo:</p>
                        <p><input type = "text" name = "model" placeholder="Modelo do Atuador" required/></p>
                        <p>Unidade de Medida:</p>
                        <p><input type = "text" name = "unit" placeholder="Unidade de Media" required/></p>
                        <p>Tópico MQTT:</p>
                        <p><input type = "text" name = "topic" placeholder="Tópico MQTT" required/></p>
                        <div>
                            <input type="checkbox" id="is_active" name="is_active" checked />
                            <label for="is_active">Ativo?</label>
                          </div>
                        <p><input type = "submit" value = "Cadastrar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}