{% extends "base.html" %}

{% block title %}<title>Remover Sensor</title>{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/remover_sensor.css') }}" />

{% block content %}
<div>
    <div>
        <div>
            <div>
                <div>
                    <h4> Remover Sensor</h4>
                </div>
                <div>
                    <form action="{{ url_for('deletar_sensor_form') }}" method="POST">
                        <div>
                            <label for="sensor">Selecione o Sensor</label>
                            <select name="sensor" id="sensor" required>
                                {% for key, value in devices.items() %}
                                <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <button type="submit">
                                Deletar Sensor
                            </button>
                            <a href="{{ url_for('sensores') }}">
                                Voltar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

